.btnLimpiarCarrito{
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
    background-color: #232323;
    text-decoration: none;
}

.textoSinProductos{
    margin-bottom: 25px;
}

.CartItemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 39px;
}