.item{
    width: 30%;
    background-color: #2D2D2D;
    border-radius: 30px;
    margin-bottom: 30px;
}

.btnTerminarCompra{
    border: none; 
    color: white; 
    padding: 14px 20px; 
    cursor: pointer; 
    border-radius: 20px;
    background-color: #232323;
    text-decoration: none;
    font-size: 0.7em;
    margin-right: 7px;
}

.btnContinuarCompra{
    border: none; 
    color: white; 
    padding: 14px 20px; 
    cursor: pointer; 
    border-radius: 20px;
    background-color: #232323;
    text-decoration: none;
    font-size: 0.7em;
}


.texto-Card-Ultimo{
    margin-bottom: 30px;
    display: inline;
}

.texto-Card-UltimoPrevio{
    display: inline;
    margin-right: 8px;
    text-decoration: line-through;
    color: red;
}

.informacionProducto{
    margin-bottom: 30px;
}

.botonesFooter{
    margin-bottom: 30px;
}

.texto-Card{
    margin: 8px 0 5px 0;
    padding: 0;
}

.btnCard{
    background-color: #232323 !important;
    border: none !important;
    padding: 14px 28px !important;
    border-radius: 18px !important;
}

.detail-Image{
    transform: scale(0.9);
}

.detail-Titulo{
    padding-bottom: 5px;
}

.productoAgregado{
    margin-bottom: 36px;
    font-size: 1.4em;
}

.botonesCompra{
    margin-bottom: 32px;
}

@media screen and (min-width: 437px) {
    .btnTerminarCompra{
        font-size: 0.9em;
    }
    .btnContinuarCompra{
        font-size: 0.9em;
    }
}