.titulo{
    margin-bottom: 30px;
    font-size: 2.5em;
}

.ocultar{
    display: none;
}

.estiloObtenerProductos{
    margin-bottom: 25px;
}

@media screen and (max-width: 661px) {
    .titulo{
        font-size: 1.4em;
    }
}