.estiloFormulario{
    background-color: #2D2D2D;
    width: 50%;
    border-radius: 20px;
    padding: 30px;
}

.textoizquierda{
    display: flex;
    justify-content:flex-start;
}

.boton-Item{
    border: none; 
    color: white; 
    padding: 13px;
    width: 60%; 
    cursor: pointer; 
    border-radius: 20px;
    background-color: #232323;
    margin-bottom: 5px;
    margin-top: 15px;
}

.boton-desactivado{
    border: none; 
    color: white; 
    padding: 13px;
    width: 60%; 
    cursor: pointer; 
    border-radius: 20px;
    background-color: gray;
    margin-bottom: 5px;
    margin-top: 15px;
}