.Cards{
    margin-bottom: 30px;
    margin-right: 40px;
    background-color: #2D2D2D !important;
    color: white !important;
    border-radius: 30px !important;
}

.titulo-Card{
    text-decoration: none;
    color: white;
}

.imagen-Card{
    transition: transform .2s;
    transform: scale(0.85);
}

.imagen-Card:hover{
    transform: scale(0.93);
}