.Controles{
    display: flex;
    justify-content: center;
    background-color: #232323;
    color: white;
    width: 100%;
    border-radius: 40px;
    margin-bottom: 18px;
    padding-bottom: 10px;
    border-color: beige;
    border-style: solid;
    border-width: 2px;
}

.cantidad-item{
    font-size: 22px;
    margin: 30px 0 0 0;
    padding: 0;
}

.Boton-controlador{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: white;
}

.botonCarrito{
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 20px;
    background-color: #232323;
    margin-bottom: 20px;
}